<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="text-heading text-center mb-4">長野から全国へ<wbr>おいしさをお届け</h2>
      <p class="mb-4">
        ながのCAKEは全国発送可能な長野県にある小さな洋菓子店です。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションをご用意しております。<br>
        <%= link_to "会員登録", new_customer_registration_path %>をすることで「いつ」でも「どこ」でもご注文いただけます。<br>
      </p>
      <%= image_tag "about_image.jpg", class: "w-100 mb-4" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-3 order-1 order-md-0 mb-4">
      <%= link_to "トップへ戻る", root_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>