<h1>Public::Orders#thanks</h1>
<p>Find me in app/views/public/orders/thanks.html.erb</p>

ご注文ありがとうございました！
<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
<%= link_to "注文履歴", orders_path, class: "btn btn-primary" %>