<%= link_to item_path(item) do %>
  <div class="card h-100">
    <%= image_tag item.image, style: "width: 100%;"%>
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text">￥<%= price_include_tax(item.price).to_s(:delimited) %><small>（税込）</small></p>
    </div>
  </div>
<% end %>