<div class="card shadow-sm">
  <div class="card-img-top wrap-item-card-img">
    <%= image_tag item.get_image %>
  </div>
  <div class="card-body">
    <%= link_to item.name, item_path(item), class: "card-title stretched-link text-dark" %>
  </div>
  <div class="card-footer bg-transparent text-right">
    <span class="text-price-include-tax"><%= price_include_tax(item.price).to_s(:delimited) %></span>
  </div>
</div>
