<div class="container">
  <div class="container-fluid"></div>
    <div class="row align-items-center justify-content-center justify-content-sm-between">
      <div class="col-auto">
        <span class="text-light">Copyright &copy; Infratop.inc / nagano-cake</span>
      </div>
      <div class="col-auto">
        <ul class="list-sns-links">
          <li>
            <%= link_to "#", class: "sns-link text-light" do %>
              <i class="fa-brands fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#", class: "sns-link text-light" do %>
              <i class="fa-brands fa-instagram"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#", class: "sns-link text-light" do %>
              <i class="fa-brands fa-facebook"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <!--<ul class="navbar-nav">-->
      <!--  <li class="nav-item">会社情報リンク</li>-->
      <!--  <li class="nav-item">著作権表示</li>-->
      <!--  <li class="nav-item">プライバシーポリシー</li>-->
      <!--  <li class="nav-item">利用規約</li>-->
      <!--</ul>-->
    </div>
  </div>
</div>
